* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #121212;
    color: white;
}

/* HEADER */
header {
    background-color: #1f1f1f;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #00ffcc;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #00ffcc;
}

.ofertas {
    margin: 30px auto 0;
    width: 95%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.ofertas-texto {
    width: 35%;
}

.ofertas-texto h2 {
    margin-bottom: 10px;
}

.ofertas-texto p {
    margin-bottom: 8px;
}

.ofertas-carousel {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ofertas-ventana {
    overflow: hidden;
    width: 90%;
}

.oferta-item {
    display: none;
    text-align: center;
}

.oferta-item.active {
    display: block;
}

.oferta-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.ofertas-btn {
    background-color: transparent;
    color: #00ffcc;
    border: 2px solid #00ffcc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 0;
}

.ofertas-btn:hover {
    background-color: #00ffcc;
    color: #121212;
}

/* CATÁLOGO */
.catalogo {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

/* CARD */
.card, .ofertas {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    margin: 15px 0;
}

.precio {
    color: #00ffcc;
    font-weight: bold;
    margin-bottom: 10px;
}

.precio-antes {
    text-decoration: line-through;
    opacity: 0.6;
    margin-right: 8px;
}

.precio-ahora {
    color: #00ffcc;
    margin-right: 8px;
}

.precio-descuento {
    color: #ffcc00;
}

.ofertas span {
    color: #00ffcc;
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    background-color: #00ffcc;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #00ccaa;
}

.card {
    position: relative;
}

/* etiqueta de descuento */
.descuento{
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
}

/* precio antes */
.precio-antes{
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
}

/* precio actual */
.precio-ahora{
    color: #00ffcc;
    font-weight: bold;
    font-size: 18px;
}
.filtros{
    text-align: center;
    margin-top: 30px;
}

.filtros button{
    margin: 10px;
}
/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    margin-top: 100px;
}